<% date = date.replaceAll('-', '/'); sender = sender.toUpperCase(); receiver =
receiver.toUpperCase(); %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="20" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-size: small;
      line-height: 24px;
      padding: 24px 48px;
      height: 100vh;
      min-height: 1000px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 32px;
      padding-bottom: 8px;
      border-bottom: 2px solid cornflowerblue;
    }
    header div {
      font-weight: bold;
      flex: 1;
      text-align: center;
    }
    header div.fr {
      font-size: small;
      line-height: 20px;
    }
    main {
      margin-block: 32px;
      width: 100%;
      flex: 1;
      font-size: medium;
    }
    main h3 {
      text-align: center;
      margin-block: 16px;
    }
    main h3:first-of-type {
      margin-top: 64px;
    }
    main h3:last-of-type {
      margin-top: 64px;
    }
    table {
      table-layout: fixed;
      height: 400px;
      width: 100%;
      border-collapse: collapse;
    }
    table,
    th,
    td {
      border: 1px solid;
      text-align: center;
      padding: 16px;
    }
    footer {
      width: 100%;
      border-top: 2px solid cornflowerblue;
      font-weight: bold;
      color: darkgray;
    }
    .space-between {
      width: 100%;
    }
    .space-between *:last-child {
      float: right;
    }
  </style>
  <body>
    <header>
      <div class="fr">
        Royaume du Maroc<br />
        Ministère de l’Agriculture et de la Pêche Maritime<br />
        Direction Régionale de l’Agriculture du Guelmim Oued Noun<br />
        Direction Provinciale de l’Agriculture Sidi Ifni<br />
      </div>
      <img
        srcOld="http://localhost:<%= PORT %>/Coat_of_arms_of_Morocco.png"
        src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Coat_of_arms_of_Morocco.svg"
        alt="maroc"
        height="100"
      />
      <div class="ar">
        المملكة المغربية<br />
        وزارة الفـــلاحة والصـــيد البـــحري<br />
        المديـرية الجهـوية للفلاحة لكلميم واد نون<br />
        المديرية الاقليمية للفلاحة سيدي إفني<br />
      </div>
    </header>
    <!--  -->
    <main>
      <div class="space-between">
        <span>N° <%= number %>/23/DPA/IF/SMOP</span>
        <span>SIDI IFNI, LE <%= date %></span>
      </div>
      <h3><%= sender %><br />SIDI IFNI</h3>
      <h3>A</h3>
      <h3><%= receiver %><br />SIDI IFNI</h3>
      <h3>BORDEREAU D’ENVOI</h3>
      <table>
        <colgroup>
          <col style="width:50%">
          <col style="width:15%">
          <col style="width:35%">
        </colgroup>  
        <tbody>
          <tr class="">
            <th>Désignation</th>
            <th>Nombre</th>
            <th>Observation</th>
          </tr>
          <tr>
            <td><%= content %></td>
            <td><%= quantite %></td>
            <td>-Soit transmis-<br />Pour Application</td>
          </tr>
        </tbody>
      </table>
    </main>
    <!--  -->
    <footer>
      <div class="space-between">
        <span>Direction Provinciale de l’Agriculture de Sidi Ifni</span>
        <span>المديرية الإقليمية للفلاحة لسيدي إفني</span>
      </div>
      <div class="space-between">
        <span>B.P : 330 Avenue de port, Sidi Ifni 85 200</span>
        <span>85 200 ص.ب: 330 شارع الميناء، سيدي إفني</span>
      </div>
      <div class="space-between">
        <span>Tél : 05 28 78 06 64 Fax : 05 28 78 06 68</span>
        <span>الهاتف: 64 06 78 28 05 الفاكس: 68 06 78 28 05</span>
      </div>
    </footer>
  </body>
</html>